.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* Set width to 100% to occupy full viewport width */
}

mat-card {
  width: 400px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

button[type="submit"] {
  width: 100%;
}

p {
  margin-top: 20px;
  color: #666;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
