<app-navbar></app-navbar>
<main>
  <div class="hero-section">
    <div class="div">
      <img
        loading="lazy"
        src="{{imageSrc1}}"
        class="img"
        alt="image"
      />
      <div class="div-2">
        <div class="div-3">
          <div class="div-4">
            <div class="div-5">Unlock Your Potential with Byway</div>
            <div class="div-6">
              Welcome to Byway, where learning knows no bounds. We believe that
              education is the key to personal and professional growth, and
              we're here to guide you on your journey to success. Whether you're
              a student, professional, or lifelong learner, our cutting-edge
              Learning Management System is designed to elevate your learning
              experience.
            </div>
            <div class="container">
              <div class="div-7">Teacher Login</div>
              <div class="div-7">Student Login</div>
            </div>

          </div>
          <div class="div-8"></div>
        </div>
        <div class="div-9">
          <img
            loading="lazy"
            src="{{imageSrc2}}"
            class="img-2"
            alt=""
          />

        </div>
        <img
          loading="lazy"
          src="{{imageSrc5}}"
          class="img-5"
          alt=""
        />
        <div class="div-10">
          <img
            loading="lazy"
            src="{{imageSrc6}}"
            class="img-6"
            alt=""
          />
          <div class="div-11">Join our community of 1200+ Students</div>
        </div>
      </div>
    </div>
  </div>
</main>
