<main>
  <div class="hero-section">
    <header class="hero-header">
      <div class="text-container">
        <h1 class="hero-title">Unlock Your Potential with Byway</h1>
        <p class="hero-description">
          Welcome to Byway, where learning knows no bounds. Join our platform to explore, learn, and grow.
        </p>
        <div class="login-buttons">
          <button class="login-button" routerLink ='/login'> Login</button>
          <button class="register-button" routerLink ='/register'> Register</button>
        </div>
      </div>
    </header>
  </div>
</main>
