<mat-toolbar color="primary">
  <div class="nav-container">
    <a mat-button routerLink="/" class="nav-logo">
      <img src="assets/logo.svg" alt="LMS Logo" height="30px">
      <span class="logo-text">Your LMS Name</span>
    </a>
    <nav class="nav-links">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/courses">Courses</a>
      <a mat-button routerLink="/lessons">Lessons</a>
      <a mat-button routerLink="/assignments">Assignments</a>
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Register</a>
      <a mat-button (click)="logout()">Logout</a>
    </nav>
  </div>
</mat-toolbar>
