<!-- navbar.component.html -->
<mat-toolbar color="primary">
  <div class="nav-container">
    <a mat-button routerLink="/" class="nav-logo">LMS</a>
    <span class="spacer"></span>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/courses">Courses</button>
    <button mat-button routerLink="/lessons">Lessons</button>
    <button mat-button routerLink="/assignments">Assignments</button>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Register</button>
  </div>
</mat-toolbar>
