/* footer.component.css */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  background-color: #342f2f;
}

.footer-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-left: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.spacer {
  flex: 1 1 auto;
}
